.home-wrapper {
    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .home-content-wrapper {

        width: 76%;
        background-color: black;

        .slideshow-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: 400px;

            .slideshow-left-column {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                font-weight: 700;
                letter-spacing: 1.5px;
                color: white;
            }
    
            .slideshow-right-column {
    
            }
        }
        
    }

}

@media (max-width:48em) {
    .home-wrapper {
        //width: 100vw;

        .home-content-wrapper {



            .slideshow-wrapper {
                display: grid;
                grid-template-columns: 1fr;
                height: 800px;

                .slideshow-left-column {
                    font-size: 40px;
                }
            }
        }
    }
}