html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    overflow-x: hidden;
    font-weight: normal;
    background-image: url("../../static/assets/images/backgrounds/usa_rugby_background.svg");
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: calc(100% + 2px);
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.app {
    //margin-top: 2rem;
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100vw;
}

.page-wrapper {
    height: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    .page-content-wrapper {
        min-height: 500px;
        width: 76%;
        background-color: black;
    }

    h1 {
        font-size: 40px;
        color: white;
    }

    .page-image-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        height: 400px;
        width: 90%;
        object-fit: cover;
        margin-left: 10px;
    }

    p {
        color: white;
        font-size: 18px;
        padding: 10px;
        line-height: 1.4em;
    }
}


@import "./navigation.scss";
@import "./home.scss";
@import "./slideshow.scss";
@import "./square.scss";
@import "./footer.scss";
@import "./players.scss";